header h1{
text-align: center;
font-family: 'Akronim', cursive;
}
body{
  background-color: #C291E6;
}
.art{
  margin:auto;
}
td{
  background-color: green;
  height: 400px;
  width: 200px;
}
#one{
  background-color:#626195;
}
#two{
  background-color:#4d4ba1;
}
#three{
  background-color:#3a3985;
}
#four{
  background-color:#2724cc;
}
#five{
  background-color:#0c0171
}
#six{
  background-color:#050435;
}
#about{
  background-color:#626195;
  text-align: center;
  }
h2{
  border: 10px solid grey;
  text-align: center;

}
#about_h1{
  text-align: center;
}
.text{
  background-color: grey;
  text-align: center;
}
/*  for centering the image*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
